.git
.gitignore

node_modules/
\*/node_modules/
bun.lockb
bun.lock

dist/
_/dist/
build/
_/build/
.output/
_/.output/
.vite/
_/.vite/

.DS*Store
Thumbs.db
*.log
.env
.env.\_
!.env.example
.vscode/
.idea/ \*_/_.env

Dockerfile
.dockerignore
