@import url("https://fonts.googleapis.com/css2?&family=Manrope:wght@200..800&&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* shadcn */
  --background: #fafafa;
  --foreground: #171717;
  --primary: #525252;
  --primary-foreground: #fafafa;
  --secondary: #e5e5e5;
  --secondary-foreground: #171717;
  --popover: #fafafa;
  --popover-foreground: #171717;
  --accent: #e5e5e5;
  --accent-foreground: #171717;
  --card: #fafafa;
  --card-foreground: #171717;
  --border: #d4d4d4;
  --input: #d4d4d4;
  --ring: #d4d4d4;

  --muted: #e5e5e5;
  --muted-foreground: #737373;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --chart-1: #737373;
  --chart-2: #a3a3a3;
  --chart-3: #525252;
  --chart-4: #404040;
  --chart-5: #262626;
  --radius: 0.625rem;
  --sidebar: #fafafa;
  --sidebar-foreground: #171717;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #e5e5e5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #d4d4d4;
  --sidebar-ring: #a3a3a3;

  /* styles */
  --primary-50: #fafafa;
  --primary-100: #f5f5f5;
  --primary-200: #e5e5e5;
  --primary-300: #d4d4d4;
  --primary-400: #a3a3a3;
  --primary-500: #737373;
  --primary-600: #525252;
  --primary-700: #404040;
  --primary-800: #262626;
  --primary-850: #171717;
  --primary-900: #0a0a0a;
  --primary-950: #000000;

  /* grey palette */
  --grey-50: #000000;
  --grey-100: #0a0a0a;
  --grey-200: #171717;
  --grey-300: #262626;
  --grey-400: #404040;
  --grey-500: #525252;
  --grey-600: #737373;
  --grey-700: #a3a3a3;
  --grey-800: #d4d4d4;
  --grey-900: #f5f5f5;
  --grey-950: #fafafa;
}

.dark {
  /* shadcn */
  --background: #101010;
  --foreground: #fafafa;
  --primary: #737373;
  --primary-foreground: #171717;
  --secondary: #151515;
  --secondary-foreground: #fafafa;
  --popover: #0a0a0a;
  --popover-foreground: #fafafa;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --muted: #171717;
  --muted-foreground: #a3a3a3;
  --border: #262626;
  --input: #262626;
  --card: #0a0a0a;
  --card-foreground: #fafafa;
  --ring: #262626;

  --destructive: #7f1d1d;
  --destructive-foreground: #ef4444;
  --chart-1: #525252;
  --chart-2: #737373;
  --chart-3: #a3a3a3;
  --chart-4: #404040;
  --chart-5: #262626;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #525252;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #262626;
  --sidebar-ring: #404040;

  /* styles */
  --primary-950: #fafafa;
  --primary-900: #f5f5f5;
  --primary-850: #e5e5e5;
  --primary-800: #d4d4d4;
  --primary-700: #a3a3a3;
  --primary-600: #737373;
  --primary-500: #525252;
  --primary-400: #404040;
  --primary-300: #262626;
  --primary-200: #171717;
  --primary-100: #0a0a0a;
  --primary-50: #000000;

  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #e5e5e5;
  --grey-300: #d4d4d4;
  --grey-400: #a3a3a3;
  --grey-500: #737373;
  --grey-600: #525252;
  --grey-700: #404040;
  --grey-800: #262626;
  --grey-900: #171717;
  --grey-950: #0a0a0a;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
  }

  body {
    @apply bg-background text-foreground font-openSans antialiased;
  }

  h1 {
    @apply font-manrope;
  }

  button {
    @apply cursor-pointer;
  }

  border {
    @apply border-border;
  }
}

@utility text-hover {
  @apply text-grey-500 hover:text-grey-300 transition-colors cursor-pointer;
}

@utility btn-icon {
  @apply size-12 flex hover:bg-secondary items-center justify-center rounded-md text-hover;
}

@utility glass {
  @apply backdrop-filter backdrop-blur-[8px];
}

@theme inline {
  /* shadcn */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* styles */
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-850: var(--primary-850);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-grey-50: var(--grey-50);
  --color-grey-100: var(--grey-100);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);
  --color-grey-500: var(--grey-500);
  --color-grey-600: var(--grey-600);
  --color-grey-700: var(--grey-700);
  --color-grey-800: var(--grey-800);
  --color-grey-900: var(--grey-900);
  --color-grey-950: var(--grey-950);

  --font-manrope: "Manrope", sans-serif;
  --font-openSans: "Open Sans", sans-serif;
}
